@media only screen and (max-width: 600px) {
  body {
    
  }


  /* HEADER */
  header {
    height: clamp(100px, 25%, 200px);
  }

  header .page-title {
    font-size: 3rem;
  }

  /* MAIN */

  main {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
}